<mat-card class="employee">
	<mat-card-header>
		<mat-card-title>{{employee.firstName}} {{employee.lastName}}, {{employee.position}}</mat-card-title>
		<mat-card-subtitle>ID: {{employee.id}} | Total Reporters: {{totalReporters$ | async}} | Salary: {{employee.compensation || "unknown"}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<label for="repList">Reporters</label>
		<mat-list id="repList" role="list">
			<mat-list-item role="listitem" *ngFor="let emp of directReporters$ | async; index as i">
				{{emp.firstName}} {{emp.lastName}}
				<button mat-button (click)="edit()">Edit</button>
				<button mat-button color="warn" (click)="delete(i)">Delete</button>
			</mat-list-item>
			<span *ngIf="(directReporters$ | async)?.length === 0">No reporters</span>
		</mat-list>
	</mat-card-content>
</mat-card>
